<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Firstsite</title>
</head>
<body>
<h1>Hello guys , Welcome to my first site</h1>
<form action="/analyze" method="get">
    <textarea name='text' style="margin: 0px; width: 520px; height: 101px;"></textarea><br>
    <input type="checkbox" name="remove">Remove<br>
    <input type="checkbox" name="upper">UpperCase<br>
    <input type="checkbox" name="space">without spaces<br>
    <button type="submit">Analyze</button>
</form>
</body>
</html>